%container
  .row.user-menu-container.square
    .col-md-12.user-details
      .row.coralbg.white
        .col-md-9.no-pad
          .user-pad
            %h3
              #{@user.name}
            %h4.white
              %i.fa.fa-check-circle-o
              #{@user.email}
            %h4.white
              %i.fa.fa-twitter
              #{@user.uid}
            %button.btn.btn-labeled.btn-info{:href => "#", :type => "button"}
              %span.btn-label>
                %i.fa.fa-pencil
              Update
            %a.btn.btn-labeled.btn-info{:href => "/projects/new", :type => "button"}
              %span.btn-label>
                %i.fa.fa-plus
              New Project
        .col-md-3.no-pad
          .user-image
            %img.img-responsive.thumbnail{:src => "http://graph.facebook.com/#{@user.uid}/picture?type=large"}/
      .row.overview
        .col-md-4.user-pad.text-center
          %h3 Projects
          %h4
            - if @user.projects
              = @user.projects.count
            - else
              = 0
        .col-md-4.user-pad.text-center
          %h3 Tasks
          %h4 456
        .col-md-4.user-pad.text-center
          %h3 Karma
          %h4 4,901
  .row
    .br
    .hr
  .row
    .col-xs-12.col-sm-offset-2.col-sm-8{:class => "[ ]"}
      %ul.event-list
        - @user.projects.each do |project|
          %li
            %time{:datetime => project.created_at}
              %span.day
                = project.created_at.strftime("%d")
              %span.month
                = project.created_at.strftime("%b")
              %span.year
                = project.created_at.strftime("%Y")
              %span.time 8:00 PM
            %img{:alt => "My 24th Birthday!", :src => project.avatar.url(:medium)}/
            .info
              %h2.title
                = project.title
              %p.desc
                = project.description
                
                %hr
                - if project.users.empty? == false
                  &nbsp;&nbsp;&nbsp;&nbsp;Members&nbsp;:&nbsp;

                - project.users.each do |user|
                  %span{:class =>"label label-success"}
                    = user.name
                  &nbsp; &nbsp; 
                %br
                %br
                - if project.stories.empty? == false
                  &nbsp;&nbsp;&nbsp;&nbsp;Stories&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                - project.stories.each do |story|
                  %span{:class =>"label label-primary"}
                    = story.title
                  &nbsp;&nbsp;
              %ul
                %li{:style => "width:33%;"}
                  %a{:href => "/stories/new"}
                    %span.fa.fa-th-list
                    Add Story

                %li{:style => "width:33%;"}
                  %a{:href => "/stories/new"}  
                    %span.fa.fa-male
                    Add Members
                %li{:style => "width:33%;"}

                    

            .social
              %ul
                %li{:style => "width:33%;"}
                  %a{:href=> "/projects/#{project.id}"}               
                    %span.fa.fa-eye
                %li{:style => "width:33%;"}
                  %a{:href => "/projects/#{project.id}/edit"}
                    %span.fa.fa-edit
                %li.google-plus{:style => "width:33%;"}
                  %a{:href => "/projects/#{project.id}", "data-method" => "delete" }
                    %span.fa.fa-trash-o